/**
 * Site footer
 */
footer {
    margin-top: 10em;
    padding: $spacing-unit;
    background-color: white;
    box-sizing: content-box;
    overflow: hidden;

    & > * {
        white-space: pre-line;
        margin-bottom: 2em;
        width: inherit;
        float: none;
        padding-top: $spacing-unit*2;
        // width: calc(50% - 0.5rem);
        // float: left;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: $base-orange;
    }
    h2,h3 {
        font-size: 1rem;
        margin-bottom: 0.5em;
    }
    h3 {
        font-style: italic;
    }
    address {
        font-style: normal;
    }
    #impressum {
        p { font-size: 0.75rem; }
        margin-top: 10vh;
        h1 { color: $grey-color-dark; }
        p ~ h2 {
            margin-top: 2rem;
        }
    }
}
