body {
    > img {
        position: fixed;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        margin: 0!important;
        padding: 0!important;
        top: 0;
        left: 0;
        transform: translateZ(0);
        background-image: url("/assets/home.small.quad.jpg");
        // background-attachment: fixed;
        background-repeat: no-repeat;
        // background-clip: padding-box;
        background-size: cover;
        background-origin: padding-box;
        background-position: center -0px;
    }

    height: auto;
    padding: 0;

    & > * {
      padding: $spacing-unit;
      width: calc(100% - #{$spacing-unit*2});
    }
}

@import "header";
@import "main";
@import "footer";
