body {
    // background-image: url("/assets/home.jpg");
    background-color: #aaa;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
    background-attachment: fixed;
    background-origin: padding-box;
    background-position: -500px -410px;
}

/**
 * Site header
 */
header {
    h1 {
        color: $base-orange;
        margin-bottom: 0;
    }
    h2 {
        color: white;
    }

    .menu {

    }
}

section[role="main"] {
    padding-top: 2em;
    padding-bottom: 3em;
    & > p ~ h1 {
    }
}

/**
 * Site footer
 */
footer {
    margin-top: 10em;
    padding: $spacing-unit;
    background-color: white;
    box-sizing: content-box;
    overflow: hidden;

    & > *:last-child {
        width: 100%;
        p {
            columns: 2;
        }
    }
    address, .sprechzeiten {
        white-space: pre-line;
        margin-bottom: 2em;
    }
    section {
        h2 { color: $base-orange; }
        width: calc(50% - 0.5rem);
        float: right;

        &:first-child {
            float: left;
        }
    }
}

.imprint {
    h2 { color: $grey-color-dark; }
}


